html {
    scroll-behavior: smooth;
    font-size: 10px;
    background-color: white;
}

html * {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

nav {
    height: 50px;
    width: 100vw;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: white;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .2);
}

#drLogo {
    height: 35px;
    position: absolute;
    left: 5vw;
}

#navLinkContainer {
    position: absolute;
    right: 5vw;
    height: 95%;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

a.navLink {
    text-decoration: none;
    font-size: 1.8rem;
    color: black;
}

a.navLink:visited {
    color: #ed59ff;
}

main {
    width: 90vw;
    margin: 0 auto;
    position: relative;
    top: 50px;
    display: block;
}

#homeSection {
    width: 80vw;
    height: 60vh;
    display: flex;
    margin: 0 auto;
    background-color: white;
}

.homeSectionContainers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 40vw;
    height: 60vh;
    overflow: hidden;
    object-fit: contain;
}

#homeText {
    font-size: 2.5rem;
    text-align: center;
    margin: 0 10px;
}

#hSHeader {
    font-size: 4rem;
}

#homeImg {
   padding: 0;
   margin: 0;
   width: 100%;
}