html {
    scroll-behavior: smooth;
    font-size: 10px;
    background-color: white;
}

html * {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

/* Nav Bar */
nav {
    height: 50px;
    width: 100vw;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: white;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .2);
}

#drLogo {
    height: 35px;
    position: absolute;
    left: 5vw;
}

#navLinkContainer {
    position: absolute;
    right: 5vw;
    height: 95%;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

a.navLink {
    text-decoration: none;
    font-size: 1.8rem;
    color: black;
}

a.navLink:visited {
    color: #ed59ff;
}

/* Main Section */
main {
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 50px;
    display: block;
}

.bold {
    font-weight: bold;
}

/* Home Section */
#homeSection {
    width: 80vw;
    height: 400px;
    display: flex;
    margin: 0 auto;
    background-color: white;
}

.homeSectionContainers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 40vw;
    height: 400px;
}

#homeText {
    font-size: 2.5rem;
    text-align: center;
    margin: 0 10px;
}

#hSHeader {
    font-size: 4rem;
}

#homeImg {
   padding: 0;
   margin: 0;
   width: 100%;
   min-height: 400px;
   overflow: hidden;
   object-fit: cover;
}

/* Characters Section */
#characters {
    background-color: #2b2e2c;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 450px;
}

#characters * {
    box-sizing: border-box;
}

#cHeader {
    text-align: center;
    font-size: 4rem;
    margin: 0;
    position: relative;
    top: 20px;
    color: #ed59ff;
}

#students {
    display: flex;
    justify-content: center;
    gap: 45px;
    flex-wrap: wrap;
}

.studentsContainer { 
    height: 200px;
    width: 150px;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    background-color: white;
    border-radius: 5px;
    justify-content: flex-end;
}

.iBox {
    height: 130px;
    width: 100%;
    
    object-fit: contain;
    justify-content: flex-start;
    overflow: hidden;
}

.cTBox {
    height: 66px;
    width: 150px;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cTBox p {
    margin: 0;
}

#NMImage, #KAImage, #EJImage, #SSImage {
    width: 100%;
    padding: 0;
    margin: 0
}

@media (max-width: 900px) {
    #homeText {
        font-size: 1.8rem;
    }
    
    #hSHeader {
        font-size: 3rem;
    } 
}